APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
SESSION_SECURE_COOKIE=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=localPS C:\Users\migue\Desktop\UNI\9IDGS\Desarrollo\Cruds con Frameworks\Laravel\crud-productos> php artisan db:seed

   INFO  Seeding database.  

  Database\Seeders\RoleSeeder .............................................................................................................. RUNNING  
  Database\Seeders\RoleSeeder ........................................................................................................... 39 ms DONE  

  Database\Seeders\UserSeeders ............................................................................................................. RUNNING  
  Database\Seeders\UserSeeders ......................................................................................................... 427 ms DONE  

  Database\Seeders\GeneroSeeder ............................................................................................................ RUNNING  
  Database\Seeders\GeneroSeeder ......................................................................................................... 10 ms DONE  

  Database\Seeders\EstadoSeeder ............................................................................................................ RUNNING  
  Database\Seeders\EstadoSeeder ......................................................................................................... 19 ms DONE  

  Database\Seeders\MunicipioSeeder ......................................................................................................... RUNNING  
  Database\Seeders\MunicipioSeeder ...................................................................................................... 17 ms DONE  

  Database\Seeders\LocalidadSeeder ......................................................................................................... RUNNING  
  Database\Seeders\LocalidadSeeder ...................................................................................................... 20 ms DONE  

  Database\Seeders\TipoPersonalSeeder ...................................................................................................... RUNNING  
  Database\Seeders\TipoPersonalSeeder ................................................................................................... 14 ms DONE  

  Database\Seeders\CarreraSeeder ........................................................................................................... RUNNING  
  Database\Seeders\CarreraSeeder ......................................................................................................... 8 ms DONE  

  Database\Seeders\AsignaturaSeeder ........................................................................................................ RUNNING  
  Database\Seeders\AsignaturaSeeder ..................................................................................................... 13 ms DONE  

  Database\Seeders\EscuelaSeeder ........................................................................................................... RUNNING  
  Database\Seeders\EscuelaSeeder ......................................................................................................... 4 ms DONE  

  Database\Seeders\DatosPersonalesSeeder ................................................................................................... RUNNING  
  Database\Seeders\DatosPersonalesSeeder ................................................................................................ 13 ms DONE  

  Database\Seeders\AlumnoSeeder ............................................................................................................ RUNNING  
  Database\Seeders\AlumnoSeeder ......................................................................................................... 11 ms DONE  

  Database\Seeders\AsignaturaAlumnoSeeder .................................................................................................. RUNNING  
  Database\Seeders\AsignaturaAlumnoSeeder ............................................................................................... 28 ms DONE  

  Database\Seeders\PersonalSeeder .......................................................................................................... RUNNING  

   Illuminate\Database\QueryException 

  SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`crud_productos`.`personal`, CONSTRAINT `personal_idtipo_foreign` FOREIGN KEY (`IdTipo`) REFERENCES `tipos_personal` (`idTipo`)) (Connection: mysql, SQL: insert into `personal` (`IdDatosP`,`IdTipo`, `ClaveEmp`, `Status`, `updated_at`, `created_at`) values (4, 1, EMP001, 1, 2026-07-17 17:59:16, 2026-07-17 17:59:16))

  at vendor\laravel\framework\src\Illuminate\Database\Connection.php:829
    825▕                     $this->getName(), $query, $this->prepareBindings($bindings), $e
    826▕                 );
    827▕             }
    828▕ 
  ➜ 829▕             throw new QueryException(
    830▕                 $this->getName(), $query, $this->prepareBindings($bindings), $e
    831▕             );
    832▕         }
    833▕     }

  1   vendor\laravel\framework\src\Illuminate\Database\MySqlConnection.php:45
      PDOException::("SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`crud_productos`.`personal`, CONSTRAINT `personal_idtipo_foreign` FOREIGN KEY (`IdTipo`) REFERENCES `tipos_personal` (`idTipo`))")

  2   vendor\laravel\framework\src\Illuminate\Database\MySqlConnection.php:45
      PDOStatement::execute()

PS C:\Users\migue\Desktop\UNI\9IDGS\Desarrollo\Cruds con Frameworks\Laravel\crud-productos> 
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

RENAPO_BASE_URI=https://api.valida-curp.com.mx/curp/validar/?token=dd032df2-e5b7-43b0-823c-b236da7b182d&curp=
RENAPO_API_KEY=

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
